body {
    background-color: #121212;
    color:white;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:2%
}

#location-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#location-container p {
    margin: 0;
    line-height:1.2;
}

#search {
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    align-self: center;
}

#search-bar {
    display: flex;
    border-radius: 10px;
    background-color: lightgray;
    padding-left: 1%;
    padding-top:1px;
    padding-bottom:1px;
}

#search-input {
    border:none;
    background-color:transparent;
}

#search-button {
    background-color: transparent;
    border: none;
}

#search-input:focus {
    outline: none;
}

#default {
    width: fit-content;
    white-space: nowrap;
}

#search-bar:focus-within {
    outline:2px solid blue;
}

main {
    display:flex;
    justify-content: space-between;
}

#main-container {
    display: flex;
    width:100%;
    justify-content: space-between;
}

.content-container {
    width: 50%;
    flex:1;
    flex-direction: column;
}

#tabs {
    display: flex;
    justify-content: center;
}

button {
    width: 50%;
}

.tab-content {
    display:none;
}

.tab-content.active {
    display:block;
}
