<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
</head>
<body>
    <header class="header">
        <div id="location">Location: </div>
        <div id="search-bar">
            <input type="text" placeholder="Search City or Zip Code" id="search-input">
            <button id="search-button">🔍</button>
        </div>
        <div id="curr-time">Current Time: </div>
    </header>
    
    <main>
        <div class="content-container">
            <div id="temperature">
                <p>Current Temperature: <span id="current-temp"></span></p> 
                <p>Feels Like: <span id="feels-like"></span></p>
            </div>
            <div id="weather">
                <p id="current-condition"></p>
                <p id="condition-desc"></p>
            </div>
            <div id="daily">
                <p>Sunrise: <span id="sunrise"></span></p>
                <p>Sunset: <span id="sunset"></span></p>
            </div>
        </div>

        <div class="content-container">
            <div id="tabs">
                <button id="hourly">Hourly</button>
                <button id="weekly">Weekly</button>
            </div>

            <div id="hourly-content">
                <div id="current-hour"></div>
                <div id="hour2"></div>
                <div id="hour3"></div>
                <div id="hour4"></div>
                <div id="hour5"></div>
                <div id="hour6"></div>
                <div id="hour7"></div>
            </div>
                
            <div id="weekly-content">
                <div id="today"></div>
                <div id="day2"></div>
                <div id="day3"></div>
                <div id="day4"></div>
                <div id="day5"></div>
                <div id="day6"></div>
                <div id="day7"></div>
            </div>
        </div>
    </main>
</body>
</html>